.intro {
    color: #f5f5f5;
    padding: 20px;
}

.intro-box {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: #703924;
    border-radius: 0 20px 0 0;
}

#img1 {
    display: block;
}

#img2 {
    display: none
}

.img-col {
    clip-path: polygon(0 0, 100% 30%, 100% 65%, 0% 100%);
    padding-left: 0;

}

.pratik-img {
    height: 80vh;
    
}

.wrapper {
    margin-bottom: 10vh;
}

.vision-box {
    position: absolute;
    bottom: 22%;
    left: 8%;
    width: 30vw;
}

.visionimg {
    border-radius: 0 0 15px 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.support {
    margin-bottom: 10vh;
}

.map-box {
    height: 70vh;
}

iframe {
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .img-col {
        clip-path: none;
        padding-left: 0;
        background-color: #f5f5f5 !important;

    }

    .intro {
        text-align: justify;
        text-justify: inter-word;
    }

    .img-col>img {
        margin: auto;
        -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 5, 0.5));
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 5, 0.5));
    }

    .visionimg {
        border-radius: 0;
    }

    .vision-box {
        position: relative;
        width: 90%;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        top: -50px;
    }


    #img1 {
        display: none;
    }

    #img2 {
        display: block;
    }

    .wrapper3 {
        margin-bottom: 10vh;
    }
}